
body {
    
margin: 0;
font-family: "Poppins", sans-serif;
overflow-x: hidden;

}

.site-logo {
font-weight: 900;
font-size: 1.5rem;
color: var(--text);
text-decoration: none;
}

.site-logo span {
color: var(--text-inverse);
font-weight: 200;
}

header {
--text: #eee;
--text-inverse: cornflowerblue;
--background: transparent;
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 999;
display: flex;
justify-content: space-between;
align-items: center;
padding: 2em 10em;
transition: background 250ms ease-in;
background: var(--background);
color: var(--text);
height: 80px;
}

.nav__list {
list-style: none;
margin: 0;
padding: 0;
display: flex;
}

.nav__link {
--spacing: 1em;
text-decoration: none;
color: inherit;
display: inline-block;
padding: calc(var(--spacing) / 2) var(--spacing);
position: relative;
text-transform: uppercase;
letter-spacing: 2px;
font-size: 0.9rem;
}

.nav__link:after {
content: "";
position: absolute;
bottom: 0;
left: var(--spacing);
right: var(--spacing);
height: 2px;
background: cornflowerblue;
-webkit-transform: scaleX(0);
  transform: scaleX(0);
transition: -webkit-transform 150ms ease-in-out;
transition: transform 150ms ease-in-out;
transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

.nav__link:hover::after {
-webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.nav__link--btn {
border: 1.5px solid currentColor;
border-radius: 2em;
margin-left: 1em;
transition: background 250ms ease-in-out;
font-weight: 900;
letter-spacing: 1px;
padding: 0.75em 1.5em;
}

.nav__link--btn:hover {
background: var(--text);
color: var(--text-inverse);
border-color: var(--text);
}

.nav__link--btn::after {
display: none;
}

.nav__link--btn--highlight {
background: cornflowerblue;
border-color: cornflowerblue;
color: #333;
}

.nav__link--btn--highlight:hover {
background: var(--text);
border-color: var(--text);
}

.nav-scrolled {
--text: #333;
--text-inverse: cornflowerblue;
--background: #eee;
box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.home-intro {
padding: 45vh 0;
background: #123 url(https://www.securitymagazine.com/ext/resources/images/cybersecurity-freepik.jpg?1626304720s);
background-size: cover;
background-blend-mode: multiply;
font-size: 2rem;
color: cornflowerblue;
text-align: center;
}

.home-intro span {
color: #fff;
font-weight: 200;
}

.home-about {
padding: 4em 0;
max-width: 900px;
margin: 0 auto;
height: 500px;
}

.columns {
display: flex;

padding-top: 70px;
}

.col + .col {
margin-left: 1.5em;
}

.fade-in {
opacity: 0;
transition: opacity 250ms ease-in;
}

.fade-in.appear {
opacity: 1;
}

.more-stuff-grid {
background: white;
padding: 4em 0;
display: grid;
grid-gap: 2em;
align-items: center;
grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(200px, 400px)) minmax(1em, 1fr);

}

.from-left, .from-right {
transition: opacity 400ms ease-in, transform 400ms ease-in;
opacity: 0;
}

.from-left.appear, .from-right.appear {
transform: translateX(0px);
opacity: 1;
}

.from-left {
text-align: right;
grid-column: 2 / 3;
transform: translateX(-50%);
}

.from-right {
grid-column: 3 / 4;
transform: translateX(50%);

}

footer {
background: gray;
color: #eee;
padding: 1rem;
text-align: center;
}
.foot{
align-items: center;
width: 100%;
left: 0;
bottom: 0;
width: 100%;
background-color: gray;
color: white;
text-align: center;
height: 100px;
padding-top: 20px;

}
#checkout{
padding-top: 50px;
align-items: center;
align-self: center;
padding-left: 20%;
padding-right: 20%;
background-color: black;
}
#flower{
height: 300px;
width: 300px;
}
.contain {
position: relative;
width: 1200px;
height: 350px;
margin: 240px auto;

}
.contain .box {
position: relative;
width : calc(400px - 30px);
height: calc(350px - 30px);
background:gray;
float: left;
margin: 15px;
box-sizing: border-box;
overflow: hidden;
border-radius: 10px;
}
.contain .box .icon {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background:cornflowerblue;
transition: 0.5s;
z-index: 1;
}
.contain .box:hover .icon{
top: 20px;
left: calc(50% - 40px);
width: 80px;
height: 80px;
border-radius: 50%;
}
.contain .box .icon .fa {
position: absolute;
top: 50%;
left: 50%;
transform: translate( -50% , -50%);
font-size: 120px;
transition: 0.5s;
color: black;
}
.contain .box:hover .icon .fa{
font-size: 40px;
}
.contain .box .content {
position: absolute;
top: 100%;
height: calc(100% - 100px);
text-align: center;
padding: 20px;
box-sizing: border-box;
transition: 0.5s;
opacity: 0;
}
.contain .box:hover .content{
top: 100px;
opacity: 1;
}
.contain .box .content h3{
margin: 0 0 10px;
padding: 0;
color: black;
font-size: 24px;
}
.contain .box .content p{
margin: 0;
padding: 0;
color: black;
font-size: 25px;
}
.scan{
height: 300px;
width: 100%;
color: black;
margin: auto;
padding-left: 20%;
padding-right: 20%;

}
#url{
align-content: center;
margin: auto;

}
.scan-button{
padding-left: 40%;
padding-right: 40%;
}
input[type=submit]{
background-color:blue;
border: none;
color: white;
padding: 10px 17px;
text-decoration: none;
margin: 4px 2px;
cursor: pointer;
border-radius: 10px;
}
input[type=text]{
width: 70%;
padding: 8px 15px;
margin-left: 5%;
box-sizing: border-box;
}
.scroll{
font-family: sans-serif;
align-items: center;
 
transform: translateY(-50%);
white-space: nowrap;
font-size: 3em;
text-align: center;
padding-top: 150px;
padding-bottom: 50px;
}
#imag{
height: 300px;
width: 300px;;
}
#blue{
color: blue;
}

